[submodule "kvasir"]
	path = kvasir
	url = ssh://git@dominicp.de/306_kvasir
[submodule "chip"]
	path = chip
	url = ssh://git@dominicp.de/kvasir_rp2040
[submodule "mcufont"]
	path = mcufont
	url = ssh://git@dominicp.de/mcufont
