[submodule "kvasir"]
	path = kvasir
	url = git@dominicp.de:306_kvasir
[submodule "chip"]
	path = chip
	url = git@dominicp.de:kvasir_rp2040
[submodule "aglio"]
	path = aglio
	url = git@dominicp.de:aglio
[submodule "recreated_goon"]
	path = recreated_goon
	url = git@dominicp.de:recreated_goon
